* {
    box-sizing: border-box;
}
.row {

}
.row
.row.col2 >div {
    width: 50%;
}

.row.box {
    float: ;
}
.row.box.bin {
    float: left;
    background-color: bisque;
    border: 1px solid brown;
}

