header, nav ul, li {
    padding: 0;
    margin: 0;
}
header li {
    padding: 15px;
    font-size: 20px;
    background-color:darkblue;
    float: left;
}

header li:hover {
    background-color:rgb(35, 81, 182);
}
header li a {
    text-decoration: none;
    color: crimson;
    letter-spacing: 1px;
    font-family: 'Mukta', sans-serif;
    text-transform: uppercase;
    font-weight: 200;
}
header li a:hover {
    border-bottom: 1px solid crimson;
}

ul {
    list-style: none;
    width: 100%;
    display: block;
}

ul::after {
    content: '';
    display: table;
    clear: both
}

@media screen and (max-width: 600px) {
    header li {
        padding: 5 15px;
        font-size: 24px;
        background-color:darkblue;
        float: none;
}

header li a {
    font-weight: 700;
    display: inline-block;
    width: 100%;
}

header li:hover a {
    border-bottom: none;
}