.op {
    width: 200px;
    height: 200px;
    background-color: brown;
    transition: width 1s linear 1s, height 1s linear 1s;
}

.op:hover{
    width: 100px;
    height: 100px;
    background-color: chartreuse;
}
.parent p {
    color: chartreuse;
}

.parent p.v1
    color: red;


